<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur">

	<link name="suction_gripper_link">
		<inertial>
			<origin xyz="0 0 -0.026287" rpy="0 0 0"/>
			<mass value="0.10731"/>
			<inertia ixx="0.00011185" ixy="0.0" ixz="0.0" iyy="0.00011185" iyz="0.0" izz="4.9673E-05"/>
		</inertial>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<mesh filename="file://$(find mit_robot_description)/meshes/suction_gripper.STL"/>
			</geometry>
		</collision>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<mesh filename="file://$(find mit_robot_description)/meshes/suction_gripper.STL"/>
			</geometry>
			<material name="white"/>
		</visual>
	</link>

	<gazebo reference="suction_gripper_link">
		<material>Gazebo/White</material>
	</gazebo>

	<joint name="gripper_joint" type="fixed">
		<parent link="tool0"/>
		<child link="suction_gripper_link"/>
		<origin xyz="0 0 0" rpy="0 ${pi} 0"/>
	</joint>

</robot>
