<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="mit_robot">

	 <!-- robot name parameter -->
	 <xacro:arg name="name" default="ur"/>
   <xacro:arg name="ur_type" default="ur5e"/>
	 <xacro:arg name="sim_gazebo" default="true" />
   <xacro:arg name="safety_limits" default="true"/>
	 <xacro:arg name="simulation_controllers" default="$(find mit_robot_description)/config/controllers.yaml" />

   <!-- import main macro -->
   <xacro:include filename="$(find ur_description)/urdf/ur.urdf.xacro"/>



</robot>
